mixin editUserForm(controller)
    h3=titles.edit_user
    form
        .form-group
            input.form-control(type='email', placeholder=form.placeholders.email, ng-model=controller+'.user.email', required)
        .form-group
            input.form-control(type='text', placeholder=form.placeholders.name, ng-model=controller+'.user.name', required)
        .form-group
            input.form-control(type='text', placeholder=form.placeholders.password, ng-model=controller+'.user.password', minlength="4")
        .form-group
            select.form-control(ng-model=controller+'.group_id', ng-if=controller+'.groups', ng-init=controller+'.group_id = '+controller+'.user.group_id')
                option(value='')=form.placeholders.select_group
                option(ng-repeat='group in '+controller+'.groups', ng-value='group.id', ng-selected='group.id == '+controller+'.user.group_id') {{group.title}}
        button.btn.btn-primary(ng-click=controller+'.updateUser()')=form.submit

mixin addUserForm(controller)
    h3=titles.add_user
    form
        .form-group
            input.form-control(type='email', placeholder=form.placeholders.email, ng-model=controller+'.email', required)
        .form-group
            input.form-control(type='text', placeholder=form.placeholders.name, ng-model=controller+'.name', required)
        .form-group
            input.form-control(type='text', placeholder=form.placeholders.password, ng-model=controller+'.password', required, minlength="4")
        .form-group(ng-if='currentUser.is_super_admin')
            select.form-control(ng-model=controller+'.group_id', ng-options="group.title for group in "+controller+".groups track by group.id")
                option(value='')=form.placeholders.select_group
        button.btn.btn-primary(ng-click=controller+'.createUser()', ng-disabled="!"+controller+".email || !"+controller+".name || !"+controller+".password")=form.submit

mixin addGroupForm(controller)
    h3=titles.add_group
    form
        .form-group
            input.form-control(type='text', placeholder=form.placeholders.name, ng-model=controller+'.group_name', required)
        .form-group
            input.form-control(type='text', placeholder=form.placeholders.description, ng-model=controller+'.group_description', required)
        button.btn.btn-primary(ng-click=controller+'.createGroup()', ng-disabled="!"+controller+".group_name || !"+controller+".group_description ")=form.submit