mixin groupList(controller)
    h3=titles.groups
        a.pull-sm-right.color-primary.icon-button(ng-click=controller+'.getGroups()')
            i.material-icons.color-primary-dark=actions.refresh.icon
            span=actions.refresh.title
    .list-container(ng-if=controller+'.groups')
        .list-item.small.user-list.bg-text(ng-repeat='group in '+controller+'.groups', ng-if='currentUser.is_super_admin')
            i.list-icon.material-icons group
            i.list-icon.second.material-icons.color-accent(ng-click=controller+'.deleteGroup(group.id)') delete_forever
            h3(ui-sref="group({gid:group.id})")
                a {{group.title}}