mixin timesList(controller)
    h3=titles.times
        a.pull-sm-right.color-primary.icon-button(ng-click=controller+'.getUserTimes()')
            i.material-icons.color-primary-dark=actions.refresh.icon
            span=actions.refresh.title
    .form-group.datepicker-group
        .col-sm-6
            datepicker(date-format="yyyy-MM-dd", date-max-limit="{{"+controller+".endDate}}")
                input.form-control(type="text", ng-model=controller+".startDate")
        .col-sm-6
            datepicker(date-format="yyyy-MM-dd", date-max-limit="{{"+controller+".currentDate}}", date-min-limit="{{"+controller+".startDate}}")
                input.form-control(type="text", ng-model=controller+".endDate")
    .clearfix
    .time-list
        .time-list-item(ng-repeat='time in '+controller+'.times', ng-if='time.end')
            i.material-icons.time-icon.color-accent(ng-if="time.is_strike") notifications_active
            i.material-icons.time-icon.color-primary(ng-if="!time.is_strike") alarm_on
            .text-container.col-sm-6
                .text-table
                    .text-cell
                        time-range(start!="{{ time.start }}", end!="{{ time.end }}")
                        p.time-comment(ng-bind='time.comment')
            .map-container.col-sm-6
                ng-map(center!="{{ time.start_location|locationFilter}}", zoom="14", ng-if='time.start_location && time.start_location!="{}"')
                    marker(position="{{ time.start_location|locationFilter}}", title="Start")
                    marker(position="{{ time.end_location|locationFilter}}", title="End")
                .text-table(ng-if='!time.start_location || time.start_location=="{}"')
                    .text-cell
                        i.material-icons location_off
                        span=errors.no_location
        hr
    h5=titles.total
        span &nbsp:&nbsp
        span(ng-bind=controller+".times|timesFilter")
    h5=titles.striked
        span &nbsp:&nbsp
        span(ng-bind=controller+".times|strikedFilter")

mixin lastTime()
    .form-group(ng-if='currentUser.time_last_closed.start')
        h3=titles.closed_time
        .time-list.last-time-closed
            .hidden
            .time-list-item
                i.material-icons.time-icon.color-accent(ng-if="currentUser.time_last_closed.is_strike") notifications_active
                i.material-icons.time-icon.color-primary(ng-if="!currentUser.time_last_closed.is_strike") alarm_on
                .text-container.col-sm-6
                    .text-table
                        .text-cell
                            time-range(start!="{{ currentUser.time_last_closed.start }}", end!="{{ currentUser.time_last_closed.end }}", last="true")
                            p.time-comment(ng-bind='currentUser.time_last_closed.comment')
                .map-container.col-sm-6
                    ng-map(center!="{{ currentUser.time_last_closed.start_location|locationFilter}}", zoom="14", ng-if='currentUser.time_last_closed.start_location && currentUser.time_last_closed.start_location!="{}"')
                        marker(position="{{ currentUser.time_last_closed.start_location|locationFilter}}", title="Start")
                        marker(position="{{ currentUser.time_last_closed.end_location|locationFilter}}", title="End")
                    .text-table(ng-if='!currentUser.time_last_closed.start_location || currentUser.time_last_closed.start_location=="{}"')
                        .text-cell
                            i.material-icons location_off
                            span=errors.no_location

mixin timer(controller)
    .form-group
        h3=titles.current_time
        p.digital(ng-bind=controller+".time.time|date:'medium'")
    .form-group
        h3=titles.set_time
        .btn-group.timer-btn-group(role='group', aria-label='timerButtons')
            button.btn.btn-secondary(ng-show="currentUser.time_is_open")
                i.material-icons.color-primary alarm
                span.digital {{ currentUser.time_open.start }}
            button.btn.btn-secondary
                i.material-icons.color-primary(ng-bind="currentUser.time_is_open ? 'hourglass_full' : 'hourglass_empty'")
                span.digital(ng-bind=controller+".timer.timer|timestampFilter")
            button.btn.btn-secondary(type='button', ng-if='!currentUser.time_is_open', ng-click=controller+'.startApiTimer()')
                i.material-icons.color-primary alarm_add
                span=titles.start
            button.btn.btn-secondary(type='button', ng-if='currentUser.time_is_open', ng-click=controller+'.stopApiTimer()')
                i.material-icons.color-primary alarm_off
                span=titles.stop
            input.form-control.full-width(type='text', ng-model=controller+'.timer_comment', ng-show='currentUser.time_is_open', maxlength="25")