mixin usersList(controller)
    h3=titles.users
        a.pull-sm-right.color-primary.icon-button(ng-click=controller+'.getUsers()')
            i.material-icons.color-primary-dark=actions.refresh.icon
            span=actions.refresh.title
    .list-container(ng-if=controller+'.users')
        .list-item.small.user-list(ng-repeat='user in '+controller+'.users', ng-class="user.time_is_open ? 'bg-primary' : 'bg-text'", ng-style="{ 'opacity' : (user.time_open.is_strike) ? '0.8' : '1' }")
            i.list-icon.material-icons(ng-class="user.time_is_open ? 'color-text' : 'color-secundary-text'", ng-bind="user.time_is_open ? 'check_circle' : 'assignment_ind'")
            i.list-icon.second.material-icons(ng-class="user.time_is_open ? 'color-primary-light' : 'color-accent'", ng-click=controller+'.deleteUser(user.id)', ng-if="user.id != currentUser.id") delete_forever
            i.list-icon.third.material-icons.color-primary-light(ng-click=controller+'.setStrike(user.id)', ng-if='user.id != currentUser.id && user.time_is_open && !user.time_open.is_strike') thumb_down
            i.list-icon.third.material-icons.color-primary-light(ng-click=controller+'.removeStrike(user.id)', ng-if='user.id != currentUser.id && user.time_is_open && user.time_open.is_strike') thumb_up
            h3(ng-class="user.time_is_open ? 'color-text' : 'color-primary-text'", ui-sref="user({uid:user.id})") {{user.name}}
            p(ng-class="user.time_is_open ? 'color-text' : 'color-secundary-text'") {{user.email}}

mixin groupUsersList(controller)
    h3
        span(ng-bind=controller+'.group.title')
        span &nbsp;
        span=titles.users
        a.pull-sm-right.color-primary.icon-button(ng-click=controller+'.getGroupUsers()')
            i.material-icons.color-primary-dark=actions.refresh.icon
            span=actions.refresh.title
    .list-container(ng-if=controller+'.users')
        .list-item.small.user-list(ng-repeat='user in '+controller+'.users', ng-class="user.time_is_open ? 'bg-primary' : 'bg-text'")
            i.list-icon.material-icons(ng-class="user.time_is_open ? 'color-text' : 'color-secundary-text'", ng-bind="user.time_is_open ? 'check_circle' : 'assignment_ind'")
            i.list-icon.second.material-icons(ng-class="user.time_is_open ? 'color-primary-light' : 'color-accent'", ng-click=controller+'.deleteUserFromGroup(user.id)', ng-if="user.id != currentUser.id") delete
            h3(ng-class="user.time_is_open ? 'color-text' : 'color-primary-text'", ui-sref="user({uid:user.id})") {{user.name}}
            p(ng-class="user.time_is_open ? 'color-text' : 'color-secundary-text'") {{user.email}}