mixin usersList(controller)
        h3
            span(ng-if="!currentUser.group.title || currentUser.is_super_admin")=titles.users
            span(ng-if="currentUser.group.title && !currentUser.is_super_admin") {{currentUser.group.title}}
            a.pull-xs-right.color-primary.icon-button(ng-click=controller+'.getUsers()')
                i.material-icons.color-primary=actions.refresh.icon
                span.hidden-xs-down=actions.refresh.title
        .users-list-container(ng-if=controller+'.users')
            .user-list-item(ng-repeat!='user in '+controller+'.users', ng-class!="{'active': user.time_is_open , 'sleep' : !user.time_is_open, 'striked' : user.time_open.is_strike}")
                i.material-icons.user-status-icon(ng-if!='!user.time_is_open') timelapse
                i.material-icons.user-status-icon(ng-if!='user.time_is_open && !user.time_open.is_strike') alarm_on
                i.material-icons.user-status-icon(ng-if!='user.time_open.is_strike') notifications_active
                .user-info
                    h5
                        a(ui-sref="user({uid:user.id})", ng-if='(currentUser.is_moderator || currentUser.is_super_admin) && !user.is_super_admin') {{user.name}}
                        span(ng-if!='(!currentUser.is_moderator && !currentUser.is_super_admin) || user.is_super_admin') {{user.name}}
                    p.email {{user.email}}
                    p.group(ng-if='currentUser.is_super_admin && user.group.id')
                        i.material-icons people
                        a(ui-sref="group({gid:user.group.id})") {{user.group.title}}
                .user-controls
                    .user-actions(ng-if!='(currentUser.is_moderator || currentUser.is_super_admin) && user.id != currentUser.id')
                        //delete user
                        i.material-icons.color-accent(ng-click!=controller+'.deleteUser(user.id)', ng-if='!user.is_super_admin') delete_forever
                        //strike switch
                        i.material-icons.color-accent(ng-click!=controller+'.setStrike(user.id)', ng-if!='user.time_is_open && !user.time_open.is_strike') notifications_active
                        i.material-icons.color-primary(ng-click!=controller+'.removeStrike(user.id)', ng-if!='user.time_is_open && user.time_open.is_strike') notifications_off
                        //time switch
                        i.material-icons.color-accent(ng-click!=controller + ".setUserTime(user.id, 'end')", ng-if!='user.time_is_open') stop
                        i.material-icons.color-primary(ng-click!=controller + ".setUserTime(user.id, 'start')", ng-if!='!user.time_is_open') play_arrow
                    .group-actions(ng-if='(currentUser.is_moderator || currentUser.is_super_admin) && user.group_id')
                        //delete from group
                        i.material-icons.color-accent(ng-click!=controller + '.deleteUserFromGroup(user.id, user.group_id)', ng-if!="user.id != currentUser.id && !user.is_moderator && !user.is_super_admin") highlight_off
                        //moderator switch
                        i.material-icons.color-primary(ng-if!='!user.is_moderator', ng-click!=controller + '.setModerator(user.id, user.group_id)') star_border
                        i.material-icons.color-primary(ng-if!='user.is_moderator') star
                    .actions-info(ng-if!='!currentUser.is_moderator && !currentUser.is_super_admin && user.group_id')
                        i.material-icons.color-primary(ng-if='user.is_moderator') star

mixin groupUsersList(controller)
    h3
        span(ng-bind=controller+'.group.title')
        span &nbsp;
        span=titles.users
        a.pull-xs-right.color-primary.icon-button(ng-click!=controller+'.getGroupUsers()', ng-if!='currentUser.is_moderator || currentUser.is_super_admin')
            i.material-icons.color-primary=actions.refresh.icon
            span.hidden-xs-down=actions.refresh.title
    .users-list-container(ng-if!=controller + '.users')
        .user-list-item(ng-repeat!='user in ' + controller + '.users', ng-class!="{'active': user.time_is_open , 'sleep' : !user.time_is_open, 'striked' : user.time_open.is_strike}")
            i.material-icons.user-status-icon(ng-if='!user.time_is_open') timelapse
            i.material-icons.user-status-icon(ng-if='user.time_is_open && !user.time_open.is_strike') alarm_on
            i.material-icons.user-status-icon(ng-if='user.time_open.is_strike') notifications_active
            .user-info
                h5
                    a(ui-sref!="user({uid:user.id})", ng-if!='(currentUser.is_moderator || currentUser.is_super_admin) && !user.is_super_admin') {{user.name}}
                    span(ng-if!='(!currentUser.is_moderator && !currentUser.is_super_admin) || user.is_super_admin') {{user.name}}
                p.email {{user.email}}
                //p.group(ng-if='currentUser.is_super_admin && user.group.id')
                    i.material-icons people
                    a(ui-sref="group({gid:user.group.id})") {{user.group.title}}
            .user-controls
                .user-actions(ng-if='(currentUser.is_moderator || currentUser.is_super_admin) && user.id != currentUser.id')
                    //delete user
                    i.material-icons.color-accent(ng-click!=controller + '.deleteUser(user.id)', ng-if!='!user.is_super_admin') delete_forever
                    //strike switch
                    i.material-icons.color-accent(ng-click!=controller + '.setStrike(user.id)', ng-if!='user.time_is_open && !user.time_open.is_strike') notifications_active
                    i.material-icons.color-primary(ng-click!=controller + '.removeStrike(user.id)', ng-if!='user.time_is_open && user.time_open.is_strike') notifications_off
                    //time switch
                    i.material-icons.color-accent(ng-click!=controller + ".setUserTime(user.id, 'end')", ng-if!='user.time_is_open') stop
                    i.material-icons.color-primary(ng-click!=controller + ".setUserTime(user.id, 'start')", ng-if!='!user.time_is_open') play_arrow
                .group-actions(ng-if='(currentUser.is_moderator || currentUser.is_super_admin) && user.group_id')
                    //delete from group
                    i.material-icons.color-accent(ng-click!=controller + '.deleteUserFromGroup(user.id)', ng-if!="user.id != currentUser.id && !user.is_moderator && !user.is_super_admin") highlight_off
                    //moderator switch
                    i.material-icons.color-primary(ng-if!='!user.is_moderator', ng-click=controller + '.setModerator(user.id)') star_border
                    i.material-icons.color-primary(ng-if!='user.is_moderator') star
                .actions-info(ng-if='!currentUser.is_moderator && !currentUser.is_super_admin && user.group_id')
                    i.material-icons.color-primary(ng-if!='user.is_moderator') star